#new {
    right: 0%;
    position: absolute;
    display: inline-block;
    top: 7%;
}

#header {
    height: 20%;
    text-align: center;
    display: block;
    z-index: 1;
    top: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

#bottom {
    height: 70%;
    width: 90%;
    position: absolute;
    bottom: 0%;
    margin-left: 5%;
    margin-right: 5%;
}

#title {
    width: 100%;
}

#submit {
    background-color: #1db3e0;
    float: right;
}