.main {
    height: calc(100% - 48px);
    width: 100%;
    position: absolute;
    display: block;
    background-color: #e6e6e6;
}

#top_of_page {
    width: 100%;
    position: relative;
    z-index: 2;
}

#header {
    text-align: center;
    display: block;
    top: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    border-bottom: black solid 1px;
    font-weight: bold;
}

#new {
    position: absolute;
    display: inline-block;
    top: 7%;
    right: 0%;
}

#display {
    position: relative;
    width: 100%;
    margin-top: 5px;
    height: calc(100% - 10%);
    overflow: scroll;
    
}

#footer {
    bottom: calc(0% + 48px);
    width: 100%;
    position: fixed;
    border: black solid 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    height: 30px;
}

#footer_display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

#number {
    font-size: larger;
}

#previous {
    position: absolute;
    left: 0%;
    top: -35%;
}

#next {
    position: absolute;
    right: 0%;
    top: -35%;
}