.main {
    position: relative;
    height: 100%;
    width: 100%;
}

#top_of_page {
    background-color: white;
    border: black solid 1px;
    display: block;
    position: relative;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(28, 27, 27, 0.495);
    text-align: center;
    height: 48px;
    margin-bottom: 2%;
}

#exercise_name {
    display: inline-block;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    height: 100%;
    margin-top: 12px;
    margin-bottom: auto;
}

#previous {
    position: absolute;
    left: 0%;
}

#next {
    position: absolute;
    right: 0%;
}

#current_exercise {
    background-color: white;
    display: block;
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    border: black solid 1px;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(28, 27, 27, 0.495);
}

#new_exercise {
    display: block;
    position: relative;
    text-align: right;
}

#new_exercise_button {
    background-color: #1db3e0;
    margin-top: 2%;
}

#notes_header {
    text-align: center;
    margin-top: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

#notes {
    background-color: white;
    display: block;
    position: relative;
    height: 20%;
    width: 100%;
    margin-top: 2%;
    border: black solid 1px;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(28, 27, 27, 0.495);
}

#no_notes {
    font-size: 20px;
    text-align: center;
    opacity: .5;
}

#goal {
    text-align: center;
    margin-top: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

#previous_goal {
    background-color: white;
    display: block;
    position: relative;
    height: 40%;
    margin-top: 2%;
    overflow: scroll;
    border: black solid 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(28, 27, 27, 0.495);
}