.main {
    position: relative;
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#top_of_page {
    background-color: white;
    border: black solid 1px;
    position: relative;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(28, 27, 27, 0.495);
}

#title {
    display: inline-block;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    top: 0%;
    width: 46%;
    margin-left: 2%;
}

#date {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    position: relative;
    margin-right: 2%;
    width: 46%;
    text-align: end;
}

#content {
    display: block;
    position: relative;
    height: calc(100% - 5%);
    width: 100%;
    margin-top: 2%;
}